@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
   --bg-primary:#F1F3F9;
   --font-primary:#13553D;
   --active-color:#FFD349;
   --second-font:#d0d0d0;
}
body {
  background-color:#e4f1ff;
 
}
.location{
  background-color:#3cca5d;
}
.search input {
  font-size: .9rem;
  background-color: #fff;
  height: 2.5rem;
  padding-left: 1rem;
}
.search input:active, .search input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #c9e7dd;
}
.search img {
   margin-left: -2rem;
}
.search input::placeholder {
  font-family: "Quicksand", sans-serif;
  color:#807f7f;
}
.weather_title h3 {
  font-family: "Nunito Sans", sans-serif;
}
.current_weather_content{
  background-color: #fff;
 color: black;
}
.weather-icon{
  color: var( --second-font);
}
.pollution{

  background-color:#e4f1ff;
}

@media only screen and (max-width:1400px) {
  .weather_highlights{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
  }
}
@media only screen and (max-width:650px) {
  .weather_highlights{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
  }
}

